header {
    background-color: #DEDEDE80;
    width: 1920px;
    height: 147px;
    display: flex;
    align-items: center;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.menu li {
    display: inline-block;
}

.logo {
    width: 202px;
    height: 147px;
}
.input {
    border: 1px solid black;
}
.ph1 {
    width:826px;
    height:550px
}
.ph2 {
    width:393px;
    height:481px
}


.RectangCont {
    display: inline-block;
    position: relative;
}

.ph3 {
    width:821.41px;
    height:342.33px;
    display: block;
}
.rectangle {
    width: 867px;
    height: 231px;
    background-color:#BC3324;
    top: 50%;
    transform: translate(50%);
}

/* мероприятий блок */
/*1 карточки с мероприятиями */
.event {
    text-align: center;
}
.cardE1 {
    border: 1px solid black;
    width: 405px;
    height: 638px;
    text-align: left;
}
.CardE1-img {
    width: 100%;
    height: 434px;
    background-image: url(../Nirvana.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.cardE1 a:link {
    color: #1F1E1E;
    background-color: transparent;
    text-decoration: none;
}
.cardE1 a:visited {
    color: #1F1E1E;
    background-color: transparent;
    text-decoration: none;
  }
.cardE1 a:hover {
    color: #A51505;
    background-color: transparent;
    text-decoration: underline;
  }

/* 2 карточка для мероприятий */
.cardE2 {
    border: 1px solid black;
    width: 405px;
    height: 638px;
    text-align: left;
}
.CardE2-img {
    width: 100%;
    height: 434px;
    background-image: url(../HowStuffWorks.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.cardE2 a:link {
    color: #1F1E1E;
    background-color: transparent;
    text-decoration: none;
}
.cardE2 a:visited {
    color: #1F1E1E;
    background-color: transparent;
    text-decoration: none;
  }
.cardE2 a:hover {
    color: #A51505;
    background-color: transparent;
    text-decoration: underline;
  }
/*3 карточка для мероприятий*/
.cardE3 {
    border: 1px solid black;
    width: 405px;
    height: 638px;
    text-align: left;
}
.CardE3-img {
    width: 100%;
    height: 434px;
    background-image: url(../Sade.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.cardE3 a:link {
    color: #1F1E1E;
    background-color: transparent;
    text-decoration: none;
}
.cardE3 a:visited {
    color: #1F1E1E;
    background-color: transparent;
    text-decoration: none;
  }
.cardE3 a:hover {
    color: #A51505;
    background-color: transparent;
    text-decoration: underline;
  }



.blog {
    width: 604px;
    height: 62px;
    background-color: #1F1E1E;
    text-align: center;
    display: inline-block;
}
.blogPage {
    text-align: center;
}

